/* Snackbar base styles */
.snackbar {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
  }
  
  /* Success Snackbar */
  .snackbarSuccess {
    background-color: #38a169;
    color: #fff;
  }
  
  /* Error Snackbar */
  .snackbarError {
    background-color: #e53e3e;
    color: #fff;
  }
  
  /* Warning Snackbar */
  .snackbarWarning {
    background-color: #f6ad55;
    color: #000;
  }
  
  /* Info Snackbar */
  .snackbarInfo {
    background-color: #3182ce;
    color: #fff;
  }
  
  /* Add animation for when the Snackbar is fading out */
  .snackbarEnter, .snackbarExit {
    opacity: 0;
  }
  
  .snackbarEnterActive, .snackbarExitActive {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
  