:root {
    --background: #F7F7F7;
    --foreground: #333333;
    --primary: #3182CE;
    --border: #E2E8F0;
    --input: #EDF2F7;
    --ring: #63B3ED;
    --primary-foreground: #FFFFFF;
    --secondary: #CBD5E0;
    --secondary-foreground: #4A5568;
    --accent: #F6AD55;
    --accent-foreground: #1A202C;
    --destructive: #E53E3E;
    --destructive-foreground: #FFFFFF;
    --muted: #718096;
    --muted-foreground: #FFFFFF;
    --card: #FFFFFF;
    --card-foreground: #1A202C;
    --popover: #EDF2F7;
    --popover-foreground: #1A202C;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: var(--card);
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 100%;
    max-width: 100%;
}
h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
ul {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid var(--border);
    margin-bottom: 1rem;
}
li {
    cursor: pointer;
    color: var(--primary);
}
input[type="text"],
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    background-color: var(--input);
}
label {
    color: var(--muted);
    margin-bottom: 0.5rem;
    display: block;
}
.teste{
    display:  grid;
    grid-template-columns:  repeat(2,1fr);
    gap: 1rem;
}